<hr>
<%= form_for(@icd, :html => {:class => 'form-horizontal'} ) do |f| %>
  <% if @icd.errors.any? %>
    <div id="error_explanation">
      <% @icd.errors.full_messages.each do |msg| %>
        <p class="error-text"><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :code, "Šifra:", :class=>'control-label'  %>
    <div class="controls"><%= f.text_field :code, :class => 'input-xlarge'  %></div>
  </div>
  <div class="control-group">
    <%= f.label :disease_bsn, "Naziv:", :class=>'control-label'  %>
    <div class="controls"><%= f.text_field :disease_bsn, :class => 'input-xlarge'  %></div>
  </div>
  <div class="control-group">
    <%= f.label :disease_eng, "Naziv (eng):", :class=>'control-label'  %>
    <div class="controls"><%= f.text_field :disease_eng, :class => 'input-xlarge'  %></div>
  </div>

  <div class="control-group">
    <%= f.label :int, "Podgrupa:", :class=>'control-label'  %>
    <div class="controls">
      <%= f.collection_select :int, @parents, :code, :disease_bsn, {:prompt => "Glavna grupa", :include_blank => true}, :class => 'input-xlarge'  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :both, "Reg. i u RS:", :class=>'control-label'  %>
    <div class="controls"><%= f.check_box :both %></div>
  </div>
  <div class="actions">
    <%= f.submit "Sačuvaj", :class => "btn btn-primary" %>
  </div>
<% end %>
