<h3>ICD Pregled</h3>

<table class="table teble-stripped">
  <thead>
    <tr>
      <th>Šifra</th>
      <th>Naziv</th>
      <th>Naziv (eng)</th>
      <th></th>
    </tr>
  </thead>
<% @icds.each do |icd| %>
  <tr>
    <td><%= icd.code %></td>
    <td><%= icd.disease_bsn %></td>
    <td><%= icd.disease_eng %></td>
    <td>
      <%= link_to 'Uredi', edit_icd_path(icd), :class => 'btn' %>
      <%= link_to 'Izbriši', icd, method: :delete, data: { confirm: 'Jeste li sigurni?' }, :class => 'btn btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novi ICD', new_icd_path, :class => "btn" %>
