<hr>
<%= form_for(@case) do |f| %>
  <% if @case.errors.any? %>
    <div id="error_explanation">
      <% @case.errors.full_messages.each do |msg| %>
        <p class="error error-text text-error"><%= msg %></p>
      <% end %>
    </div>
  <% end %>
<div class="row">
  <div class="pull-left span6 form-horizontal" style="margin:-2px;">
    <div class="control-group">
      <%= f.label :district_id, 'Kanton/regija:', :class=>'control-label'  %>
      <div class="controls">
        <%= f.collection_select :district_id, @districts, :id, :name, {:prompt => false }, :class => 'input-xlarge'  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :phi_id, "Regionalni zavod:", :class=>'control-label'  %>
      <div class="controls">
        <%= f.collection_select :phi_id, @phis, :id, :full_bsn, {:prompt => false}, :class => 'input-xlarge'  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :center_id, "Institucija:", :class=>'control-label'  %>
      <div class="controls">
        <%= f.collection_select :center_id, @centers, :id, :name, {:prompt => false}, :class => 'input-xlarge'  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :he_id, "Služba (odjel) koja je prijavila:", :class=>'control-label'  %>
      <div class="controls">
        <%= f.collection_select :he_id, @hes, :id, :name, {:prompt => "Izaberite"}, :class => 'input-xlarge'  %>
        <span class="help"><a href="#" class="openModal" data-modal="#newHes">Nova služba</a></span>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :protocol, "Protokol", :class=>'control-label'  %>
      <div class="controls"><%= f.text_field :protocol, :class => 'input-xlarge'  %></div>
    </div>
    
    
  </div>
  <div class="pull-right span6" style="margin:-2px">
    <div class="control-group form-horizontal">
        <%= f.label :labconfirmed,"Laboratorijski potvrđeno", :class=>'control-label'  %>
        <div class="controls"><%= f.check_box :labconfirmed %></div>
      </div>
      <div class="control-group form-horizontal">
        <%= f.label :laboratory_id, 'Laboratorija:', :class=>'control-label'  %>
        <div class="controls">
          <%= f.collection_select :laboratory_id, @laboratories, :id, :name, {:prompt => false, :include_blank => true }, :class => 'input-xlarge'  %>
          <span class="help"><a href="#" class="openModal" data-modal="#newLaboratory">Nova laboratorija</a></span>
        </div>
      </div>
      <div class="control-group form-horizontal">
        <%= f.label :date_lab, :class=>'control-label'  %>
        <div class="controls"><%= f.text_field :date_lab, :class => 'datepicker input-xlarge' %></div>
      </div>
      <div class="control-group form-horizontal">
        <%= f.label :agent_id, "Lab. dijagnoza", :class=>'control-label'  %>
        <div class="controls">
          <%= f.collection_select :agent_id, @agents, :id, :agent, {:prompt => "Izaberite agent", :include_blank => true}, :class => 'input-xlarge'  %>
          <span class="help"><a href="#" class="openModal" data-modal="#newAgent">Nova lab. dijagnoza</a></span>
        </div>
      </div>
      <div class="control-group form-horizontal">
        <%= f.label :vaccin, 'Vakcinisan:', :class=>'control-label'  %>
        <div class="controls">
          <%= f.collection_select :vaccin, @case.vaccins, :first, :last, {:prompt => false}, :class => 'input-xlarge'  %>
        </div>
      </div>
      
  </div>
</div>

<div class="row form-horizontal">
  <div class="span12">
    <div class="control-group">
        <%= f.label :comment, "Komentar:", :class=>'control-label'  %>
        <div class="controls"><%= f.text_area :comment, :style2 => "width:450px !important;height:100px!important;" %></div>
      </div>
      <div class="control-group">
        <%= f.label :icd_id, "Dijagnoza klinička:", :class=>'control-label'  %>
        <div class="controls">
        <%= f.collection_select :icd_id, @icds, :id, :name, {:prompt => "Izaberite"}, :class => 'input-xlarge'  %>
      </div>
      </div>

      <div class="control-group">
        <%= f.label :date_of_dg, "Datum dijagnoze:", :class=>'control-label'  %>
        <div class="controls"><%= f.text_field :date_of_dg, :class => 'datepicker input-xlarge'  %></div>
      </div>
      
      <div class="control-group">
        <%= f.label :date_report, "Datum izvještaja:", :class=>'control-label'  %>
        <div class="controls"><%= f.text_field :date_report, :class => 'datepicker input-xlarge'  %></div>
      </div>
      <div class="control-group">
        <%= f.label :date_entry, "Datum unosa:", :class=>'control-label'  %>
        <div class="controls"><%= f.text_field :date_entry, :class => 'datepicker input-xlarge'  %></div>
      </div>
      
      <div class="control-group">
        <%= f.label :patient_name, "Ime pacijenta:", :class=>'control-label'  %>
        <div class="controls"><%= f.text_field :patient_name, :class => 'input-xlarge'  %></div>
      </div>
      <div class="control-group">
        <%= f.label :patient_surname, "Prezime pacijenta:", :class=>'control-label'  %>
        <div class="controls"><%= f.text_field :patient_surname, :class => 'input-xlarge'  %></div>
      </div>
      <div class="control-group">
        <%= f.label :date_of_birth, "Datum rođenja:", :class=>'control-label'  %>
        <div class="controls"><%= f.text_field :date_of_birth, :class => 'datepicker input-xlarge' %></div>
      </div>
      <div class="control-group">
        <%= f.label :age, "Dob:", :class=>'control-label'  %>
        <div class="controls"><%= f.number_field :age, :class=>'input-mini' %></div>
      </div>
      <div class="control-group">
        <%= f.label :date_death, "Datum smrti:", :class=>'control-label'  %>
        <div class="controls"><%= f.text_field :date_death, :class => 'datepicker input-xlarge' %></div>
      </div>
      <div class="control-group">
        <%= f.label :sex, "Spol:", :class=>'control-label'  %>
        <div class="controls">
          <%= f.collection_select :sex, @case.sex_choice, :first, :last, {:prompt => false}, :class => 'input-xlarge'  %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :jmbg, "JMBG:", :class=>'control-label'  %>
        <div class="controls"><%= f.text_field :jmbg, :class => 'input-xlarge' %></div>
      </div>

      <div class="control-group">
        <%= f.label :user_id, "Doktor:", :class=>'control-label'  %>
        <div class="controls">
          <%= f.collection_select :user_id, @doctors, :id, :full_name, {:prompt => "Izaberite"}, :class => 'input-xlarge'  %>
          <span class="help"><a href="#" class="openModal" data-modal="#newFakeUser">Novi doktor</a></span>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit "Sačuvaj", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<div class="modal hide fade" id="newFakeUser">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Dodaj novog doktora</h3>
  </div>
  <div class="modal-body form-horizontal">
    <div class="control-group">
      <label class="control-label" for="firstname">Ime</label>
      <div class="controls"><input class="input-xlarge" id="dfirstname" name="firstname" size="30" type="text" ></div>
    </div>
    <div class="control-group">
      <label class="control-label" for="surnaname">Prezime</label>
      <div class="controls"><input class="input-xlarge" id="dsurname" name="surname" size="30" type="text"></div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">E-mail</label>
      <div class="controls"><input class="input-xlarge" id="demail" name="email" size="30" type="text"></div>
    </div>

  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zatvori</a>
    <a href="#" class="btn btn-primary addNewDoctor">Sačuvaj</a>
  </div>
</div>

<div class="modal hide fade" id="newHes">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Dodaj novu službu / HES</h3>
  </div>
  <div class="modal-body form-horizontal">
    <div class="control-group">
      <label class="control-label" for="center_id">Institucija:</label>
      <div class="controls">
        <%= collection_select "center_id","", @centers, :id, :name, {:prompt => "Izaberite"}, :class => 'input-xlarge'  %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="hcode">Šifra:</label>
      <div class="controls"><input class="input-xlarge" id="hcode" name="hcode" size="30" type="text" ></div>
    </div>
    <div class="control-group">
      <label class="control-label" for="hname">Naziv:</label>
      <div class="controls"><input class="input-xlarge" id="hname" name="hname" size="30" type="text"></div>
    </div>
    <div class="control-group">
      <label class="control-label" for="chief_id">Šef službe:</label>
      <div class="controls">
        <%= collection_select "chief_id","", @doctors, :id, :full_name, {:prompt => "Izaberite"}, :class => 'input-xlarge'  %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="nurse_id">Med. tehničar:</label>
      <div class="controls">
        <%= collection_select "chief_id","", @nurses, :id, :full_name, {:prompt => "Izaberite"}, :class => 'input-xlarge'  %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zatvori</a>
    <a href="#" class="btn btn-primary addNewHes">Sačuvaj</a>
  </div>
</div>

<div class="modal hide fade" id="newLaboratory">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Dodaj novu laboratoriju</h3>
  </div>
  <div class="modal-body form-horizontal">
    <div class="control-group">
      <label class="control-label" for="lname">Naziv:</label>
      <div class="controls"><input class="input-xlarge" id="lname" name="lname" size="30" type="text" ></div>
    </div>
    <div class="control-group">
      <label class="control-label" for="lmunicipality">Lokacija:</label>
      <div class="controls">
        <%= collection_select "lmunicipality","", @municipalities, "id", "municipality", {:prompt => "Izaberite"}, :class => 'input-xlarge'  %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zatvori</a>
    <a href="#" class="btn btn-primary addNewLaboratory">Sačuvaj</a>
  </div>
</div>


<div class="modal hide fade" id="newAgent">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Dodaj novu lab. dijagnozu</h3>
  </div>
  <div class="modal-body form-horizontal">
    <div class="control-group">
      <label class="control-label" for="aname">Naziv:</label>
      <div class="controls"><input class="input-xlarge" id="aname" name="aname" size="30" type="text" ></div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Zatvori</a>
    <a href="#" class="btn btn-primary addNewAgent">Sačuvaj</a>
  </div>
</div>
