<table class="table table-striped">
<tr>
  <td><b>Kanton/Regija:</b></td>
  <td><%= @case.district.name %></td>
</tr>

<% if @case.phi_id %>
<tr>
  <td><b>Regionalni zavod:</b></td>
  <td><%= @case.phi.full_bsn %></td>
</tr>
<% end %>

<% if @case.he_id %>
<tr>
  <td><b>Odjel/HES:</b></td>
  <td><%= @case.he.name %></td>
</tr>
<% end %>

<tr>
  <td><b>Doktor:</b></td>
  <td><%= @case.user.full_name  if @case.user_id %></td>
</tr>

<tr>
  <td><b>Protokol:</b></td>
  <td><%= @case.protocol %></td>
</tr>

<tr>
  <td><b>Dijagnoza klinička:</b></td>
  <td><%= @case.dg_syndrom %></td>
</tr>

<tr>
  <td><b>Datum dijagnoze:</b></td>
  <td><%= @case.date_of_dg.strftime("%d.%m.%Y") %></td>
</tr>

<tr>
  <td><b>Laboratorijski potvrđeno</b></td>
  <td><%= @case.labconfirmed == 1 ? "Da" : "Ne" %></td>
</tr>

<tr>
  <td><b>Laboratorija:</b></td>
  <td><%= @case.laboratory.name if @case.laboratory_id %></td>
</tr>

<tr>
  <td><b>Date lab:</b></td>
  <td><%= @case.date_lab.strftime("%d.%m.%Y") %></td>
</tr>

<% if @case.agent_id %>
<tr>
  <td><b>Agent:</b></td>
  <td><%= @case.agent.agent if @case.agent_id %></td>
</tr>
<% end %>

<tr>
  <td><b>Datum izvještaja:</b></td>
  <td><%= @case.date_report.strftime("%d.%m.%Y") %></td>
</tr>

<tr>
  <td><b>Datum upisa:</b></td>
  <td><%= @case.date_entry.strftime("%d.%m.%Y") %></td>
</tr>

<tr>
  <td><b>Vakcinisan:</b></td>
  <td><%= @case.vaccins[@case.vaccin] %></td>
</tr>

<tr>
  <td><b>Operator:</b></td>
  <td><%= @case.operator if @case.operator_id %></td>
</tr>

<tr>
  <td><b>Komentar:</b></td>
  <td><%= @case.comment %></td>
</tr>

<tr>
  <td><b>Ime pacijenta:</b></td>
  <td><%= @case.patient_name %></td>
</tr>

<tr>
  <td><b>Prezime pacijenta:</b></td>
  <td><%= @case.patient_surname %></td>
</tr>

<% if @case.age > 0 %>
<tr>
  <td><b>Starost:</b></td>
  <td><%= @case.age %></td>
</tr>
<% end %>

<% if @case.date_of_birth %>
<tr>
  <td><b>Datum rođenja:</b></td>
  <td><%= @case.date_of_birth.strftime("%d.%m.%Y") %></td>
</tr>
<% end %>

<% if @case.date_death %>
<tr>
  <td><b>Datum smrti:</b></td>
  <td><%= @case.date_death %></td>
</tr>
<% end %>

<tr>
  <td><b>Spol:</b></td>
  <td><%= @case.sex_choice[@case.sex] %></td>
</tr>

<tr>
  <td><b>JMBG:</b></td>
  <td><%= @case.jmbg %></td>
</tr>
</table>

<%= link_to 'Uredi', edit_case_path(@case), :class => 'btn btn-primary' %> |
<%= link_to 'Nazad', cases_path, :class => 'btn' %>
