<hr>
<%= form_for(@user, :html => {:class => 'form-horizontal'} )   do |f|%>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h3>Greška:</h3>
      <% @user.errors.full_messages.each do |msg| %>
        <p class="text-error"><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :email, 'E-mail:', :class=>'control-label'  %>
    <div class="controls"><%= f.email_field :email, :class => 'input-xlarge'  %></div>
  </div>

  <div class="control-group">
    <%= f.label :username, 'Korisničko ime:', :class=>'control-label'  %>
    <div class="controls"><%= f.text_field :username, :class => 'input-xlarge'  %></div>
  </div>

  <div class="control-group">
    <%= f.label :password, 'Šifra:', :class=>'control-label'  %>
    <div class="controls"><%= f.password_field :password, :class => 'input-xlarge'  %></div>
  </div>
  <hr>
  <div class="control-group">
    <%= f.label :user_type, 'Vrsta korisnika:', :class=>'control-label' %>
    <div class="controls">
      <%= f.collection_select :user_type, {1=>'Doktor',2=>'Sestra',3=>'Operater'},:first,:last, :class => 'input-xlarge', :id => 'user_type' %>
    </div>
  </div>
  <% if current_user.admin %>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
       <%= f.check_box :admin %> Admin
      </label>
    </div>
  </div>
  <% end %>
  <% if @user.uid %>
  <p>Korisnikov Access UID: <%= @user.uid %></p>
  <% end %>
  <hr>
  <div class="control-group">
    <%= f.label :name, 'Ime:', :class=>'control-label'  %>
    <div class="controls"><%= f.text_field :name, :class => 'input-xlarge'  %></div>
  </div>
  <div class="control-group">
    <%= f.label :surname, 'Prezime:', :class=>'control-label'  %>
    <div class="controls"><%= f.text_field :surname, :class => 'input-xlarge'  %></div>
  </div>
  <div class="control-group">
    <%= f.label :street, 'Ulica:', :class=>'control-label'  %>
    <div class="controls"><%= f.text_field :street, :class => 'input-xlarge'  %></div>
  </div>
  <div class="control-group">
    <%= f.label :district_id, 'Kanton/Regija:', :class=>'control-label' %>
    <div class="controls">
      <%= f.collection_select :district_id, @districts, :id, :name, {:prompt => false}, :class => 'input-xlarge'  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :municipality_id, 'Općina', :class=>'control-label' %>
    <div class="controls">
      <%= f.collection_select :municipality_id, @municipalities, :id, :municipality, {:prompt => false}, :class => 'input-xlarge'  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :post, 'Poštanski broj:', :class=>'control-label'  %>
    <div class="controls"><%= f.text_field :post, :class => 'input-xlarge'  %></div>
  </div>
  <div class="control-group">
    <%= f.label :phone, 'Telefon:', :class=>'control-label'  %>
    <div class="controls"><%= f.text_field :phone, :class => 'input-xlarge'  %></div>
  </div>

  <%= f.submit "Sačuvaj", :class =>'btn btn-primary pull-right' %>
<% end %>