<h3>Zaboravili ste šifru?</h3>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>


  <div class="control-group">
    <%= f.label :email, 'E-mail:', :class=>'control-label'  %>
    <div class="controls"><%= f.text_field :email, :autofocus => true, :class => 'input-xlarge'  %></div>
  </div>

  <div><%= f.submit "Pošalji mi instrukcije", :class => "btn btn-primary" %></div>
<% end %>

