<%= form_for(@center, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @center.errors.any? %>
    <div id="error_explanation">
      <% @center.errors.full_messages.each do |msg| %>
        <p class="error-text"><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, 'Naziv:', :class=>'control-label'  %>
    <div class="controls"><%= f.text_field :name, :class => 'input-xlarge'  %></div>
  </div>
  <div class="control-group">
    <%= f.label :code, 'Kod:', :class=>'control-label'  %>
    <div class="controls"><%= f.text_field :code, :class => 'input-xlarge'  %></div>
  </div>

  <div class="control-group">
    <%= f.label :municipality_id, 'Općina', :class=>'control-label' %>
    <div class="controls">
      <%= f.collection_select :municipality_id, @municipalities, :id, :municipality, {:prompt => false}, :class => 'input-xlarge'  %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Sačuvaj", :class => 'btn btn-primary' %>
  </div>
<% end %>
