<h3>Pregeld institucija</h3>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Naziv</th>
      <th>Općina</th>
      <th>Opcije</th>
    </tr>
  </thead>
<% @centers.each do |center| %>
  <tr>
    <td><%= center.name %></td>
    <td><%= center.municipality.municipality %></td>
    <td>
      <%= link_to 'Uredi', edit_center_path(center), :class => 'btn' %>
      <%= link_to 'Izbriši', center, method: :delete, data: { confirm: 'Jeste li sigurni?' }, :class => 'btn btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj novi dom zdravlja', new_center_path, :class => "btn" %>
