<%= form_for(@district, :html => {:class => 'form-horizontal'} ) do |f| %>
  <% if @district.errors.any? %>
    <div id="error_explanation">
      <% @district.errors.full_messages.each do |msg| %>
        <p class="text-error"><%= msg %></p>
      <% end %>
    </div>
  <% end %>

<!--   <div class="control-group">
    <%= f.label :code, :class=>'control-label' %>
    <div class="controls"><%= f.number_field :code %></div>
  </div> -->
  <div class="control-group">
    <%= f.label :code_stat, 'Code:', :class=>'control-label' %>
    <div class="controls"><%= f.number_field :code_stat %></div>
  </div>
  <div class="control-group">
    <%= f.label :abbr, 'Abbr:', :class=>'control-label' %>
    <div class="controls"><%= f.text_field :abbr %></div>
  </div>
  <div class="control-group">
    <%= f.label :name_eng, 'Naziv eng. :', :class=>'control-label' %>
    <div class="controls"><%= f.text_field :name_eng %></div>
  </div>
  <div class="control-group">
    <%= f.label :centar, 'Centar:', :class=>'control-label'  %>
    <div class="controls">
      <%= f.collection_select :centar, @municipalities, :id, :municipality, {:prompt => false}, :class => 'input-xlarge'  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, 'Naziv:', :class=>'control-label' %>
    <div class="controls"><%= f.text_field :name %></div>
  </div>
  <div class="control-group">
    <%= f.label :population, 'Populacija:',:class=>'control-label' %>
    <div class="controls"><%= f.number_field :population %></div>
  </div>
  <div class="control-group">
    <%= f.label :municipality_no, 'Općina:', :class=>'control-label' %>
    <div class="controls"><%= f.number_field :municipality_no %></div>
  </div>

  <div class="control-group">
    <%= f.label :entity_id, 'Entitet:', :class=>'control-label' %>
    <div class="controls">

      <%= f.collection_select :entity_id, @entities, :id, :abbr, {:prompt => false}, :class => 'input-xlarge'  %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Sačuvaj", :class => "btn btn-primary" %>
  </div>
<% end %>
