<!-- <p>
  <b>Code:</b>
  <%= @district.code %>
</p> -->

<p>
  <b>Code stat:</b>
  <%= @district.code_stat %>
</p>

<p>
  <b>Abbr:</b>
  <%= @district.abbr %>
</p>

<p>
  <b>Naziv eng:</b>
  <%= @district.name_eng %>
</p>

<p>
  <b>Centar:</b>
  <%= @district.centar %>
</p>

<p>
  <b>Naziv:</b>
  <%= @district.name %>
</p>

<p>
  <b>Populacija:</b>
  <%= @district.population %>
</p>

<p>
  <b>Općina:</b>
  <%= @district.municipality_no %> / <%= @district.municipalities.count %>
</p>

<p>
  <b>Entitet:</b>
  <%= @district.entity.abbr %>
</p>


<%= link_to 'Uredi', edit_district_path(@district), :class => 'btn btn-primary' %> |
<%= link_to 'Nazad', districts_path, :class => 'btn' %>
