<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-signin' }) do |f| %>
  <h3 class="form-signin-heading">Prijavite se</h3>
  <%= f.text_field :login, :autofocus => true, :placeholder => 'Korisničko ime / E-mail', :class => 'input-block-level' %>

  <%= f.password_field :password, :placeholder => 'Šifra', :class => 'input-block-level'  %>

  <% if devise_mapping.rememberable? -%>
    <label class="checkbox"><%= f.check_box :remember_me %> Zapamti me</label>
  <% end -%>
  <span class="small pull-right"><%= link_to "Zaboravili ste šifru?", new_user_password_path%></span>

  <%= f.submit "Prijava", :class =>'btn btn-large btn-primary' %>

<% end %>

